<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{ flatpage.title }}
    </title>
</head>
<body>
<p>&nbsp;</p>
<p>{{ flatpage.content }}</p>
<p style="text-align: center;"><span style="color: #00ff00;"><strong>это жирный</strong></span></p>
<p style="text-align: center;"><span style="color: #000080;"><em>а это курсив</em></span></p>
<p style="text-align: center;"><span style="text-decoration: underline; color: #ff0000;">подчеркивание</span></p>
<table style="height: 112px;" width="541">
<tbody>
<tr>
<td style="width: 101.391px; text-align: center;">цена</td>
<td style="width: 101.391px; text-align: center;">обьем</td>
<td style="width: 101.391px; text-align: center;">тоннаж</td>
<td style="width: 101.391px; text-align: center;">единицы</td>
<td style="width: 101.438px; text-align: center;">пробег</td>
</tr>
<tr>
<td style="width: 101.391px;">&nbsp;</td>
<td style="width: 101.391px;">&nbsp;</td>
<td style="width: 101.391px;">&nbsp;</td>
<td style="width: 101.391px;">&nbsp;</td>
<td style="width: 101.438px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 101.391px;">&nbsp;</td>
<td style="width: 101.391px;">&nbsp;</td>
<td style="width: 101.391px;">&nbsp;</td>
<td style="width: 101.391px;">&nbsp;</td>
<td style="width: 101.438px;">&nbsp;</td>
</tr>
</tbody>
</table>
</body>
</html>